/**
 * Copyright 2015-2016 Stuart Smith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * If you modify this Program, or any covered work, by linking or combining
 * it with the paho MQTT client library (or a modified version of that library),
 * containing parts covered by the terms of EPL,
 * the licensors of this Program grant you additional permission to convey the resulting work.
 */

* { margin: 0; padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

p {
  margin: 1em 0;
}

label {
  margin-right:0.5em;
  margin-top:0.5em;
  display: inline-block;
  vertical-align: middle;
}

input {
  display: inline-block;
  vertical-align: middle;
}

#wrap {
  float: left;
  /*width: 500px;*/
  font-size: 1.2em;
  /*margin: 3em auto;*/
  margin-left: 4em;
}

#current-user {
  font-weight: bold;
  padding-bottom: 0.4em;
}

#logout-control {
  display: none;
}

.upload-file-select {
  /*float: right;*/
  margin-top: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.submit-button {
  /*float:right;*/
  margin-top:0.7em;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.6em;
}

.header {
  width: 100%;
  height: 3em;
  background-color: #6699fe;
}

.header li {
  list-style: none;
}

.header .header-section {
  float:left;
  margin-top: 1em;
  margin-right: 1em;
}

.header .login {
  float:right;
  margin-top: 1em;
  margin-right: 1em;
}

.header .header-section:first-child {
  float:left;
  margin-left: 2em;
  margin-top: 1em;
  margin-right: 1em;
}

.header a {
  font-size:1.1em;
  font-weight: bold;
  text-decoration: none;
  color: #f5f5f5;
}

.app-content {
  float: left;
  padding: 1em 0em 0 0;
}

.itemlist {
  padding: 0em 0em 1em 0.7em;
}

/**
Basically just following this:
http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
**/
.modalImagePopup {
  position: fixed;
  /* these are set to zero, so the modal spans the page */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba( 0, 0, 0, 0.8 );
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 450ms ease-in;
  -moz-transition: opacity 450ms ease-in;
  transition: opacity 450ms ease-in;
  /** controls when things can be clickable - don't allow clicks until the :target event is fired **/
  pointer-events: none;
}

.modalImagePopup:target {
  opacity:1;
  pointer-events: auto;
}

.modalImagePopup > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}



.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


